VITE_PUBLIC_BASE_URL=<>
VITE_PUBLIC_BASE_API_URL=<>
VITE_PUBLIC_NEWSAPI_KEY=<>
VITE_PUBLIC_IP_LOC_API=<>
VITE_PUBLIC_ZOOK_URL=<>
VITE_PUBLIC_MEETUP_URL=<>
VITE_DEBUG_MODE=<>
VITE_AUTH_SECRET=<>

VITE_SUPABASE_URL=<>
VITE_SUPABASE_ANON_KEY=<>

DEFAULT_TEST_USER_EMAIL=<>
VITE_PUBLIC_IS_TEST_MODE=<>

VITE_PUBLIC_HUGGINGFACE_NSFW_CHECKER=<>
VITE_PUBLIC_HUGGINGFACE_TOKEN=<>
